@page "/dashboard"
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<h3>Dashboard</h3>
<AuthorizeView>
    <Authorizing>
        <p>Authorizing</p>
    </Authorizing>
</AuthorizeView>
<AuthorizeView Roles="Owner">
    <Authorized>
        <p>Hello @context.User.Identity.Name (Owner)</p>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Manager">
    <Authorized>
        <p>Hello (Manager)</p>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="BaseUser">
    <Authorized>
        <p>Hello (New Hire)</p>
    </Authorized>
</AuthorizeView>

@code{
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}