@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="main">
    <div class="top-row px-4">
        <div style="float:left; margin-top: .5rem; margin-bottom: .5rem;">
            <a href="/" style="text-decoration:none;">
                <img src="Images/cp-ma-logo.png" style="height: 40px;" alt="CP-MA" />
                Web-Onboard
            </a>
        </div>
        <div style="float:right; margin-top: .5rem; margin-bottom: 1rem;">
            <button class="btn btn-primary" @onclick='@(e => ButtonReroute("/login"))'>Login</button>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private void ButtonReroute(String path)
    {
        navigationManager.NavigateTo(path);
    }
}